.landing-container {
    position: relative;
    min-height: 100vh;
  }
  
  .background-image {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-size: cover;
    background-position: center;
  }
  
  .content-container {
    position: relative;
    z-index: 10;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 1rem;
  }
  
  .card {
    max-width: 32rem;
    background-color: #521462;
    border-radius: 0.5rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    padding: 0.9rem;
  }
  
  .header {
    margin-bottom: 1rem;
  }
  
  .subtitle {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #521462;
    /* left: 20px; */
  }
  
  .title {
    font-size: 1.875rem;
    font-weight: bold;
    color: #521462;
    border-bottom: 4px solid #521462;
    padding-bottom: 0.5rem;
  }

  .card-2 {
    padding: 10px 20px;
    margin: 20px;
    max-width: 42rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    padding: 2rem;
    /* border: 4px #521462; */
    /* color: #521462; */
  }
  
  .main-content {
    margin-bottom: 2rem;
  }
  
  .main-content p {
    /* color: #4B5563; */
    color: black;
    line-height: 1.625;
  }
  
  .cta-button {
    background-color: #521462;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #3f0f4c;
  }